<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="table">
    <thead>
    <tr>
        <th>Config</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>Plugin</strong></td>
        <td>Reservation</td>
    </tr>
    <tr>
        <td><strong>Facility</strong></td>
        <td>{pi_flexform_transformed.settings.facility}</td>
    </tr>
    <tr>
        <td><strong>Order PID</strong></td>
        <td>{pi_flexform_transformed.settings.orderPid}</td>
    </tr>
    </tbody>
</table>
</html>
