<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment><!--
The rendered content of this template will be used as ###RESERVATION### marker inside the reservation mail.

Variables:
order: Current order
pageUid: Page uid which contains the reserve checkout plugin
--></f:comment>

<p>
    <f:translate extensionName="reserve" key="mail.reservation.print_notice"/>
</p>

<f:render partial="Mail/ReservationDetails" arguments="{order: order}"/>

<f:if condition="{configurations.disableQRCodeGeneration}">
    <f:else>
        <f:for each="{order.reservations}" as="reservation">
            <img src="cid:{reservation.code}" title="QR Code" alt="{reservation.code}" style="padding: 40px;"/>
        </f:for>
    </f:else>
</f:if>

<p>
    <f:translate extensionName="reserve" key="reservation.no_printer_notice"/>
</p>
<ul>
    <f:for each="{order.reservations}" as="reservation">
        <li>{reservation.code}</li>
    </f:for>
</ul>

<f:if condition="{order.bookedPeriod.facility.isCancelable}">
    <p>
        <f:translate
            extensionName="reserve"
            key="mail.reservation.cancelable_until"
            arguments="{0: '{f:format.date(date: \'{order.cancelableUntil}\', format: \'{f:translate(extensionName: \\\'reserve\\\', key: \\\'date_format_full\\\')}\')}'}"
        />
    </p>
    <f:render partial="Mail/CancelReservationLink" arguments="{pageUid: pageUid, order: order}"/>
</f:if>
</html>
