<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment><!--
The rendered content of this template will be used as ###RESERVATION### marker inside the reservation mail.

Variables:
order: Current order
--></f:comment>
<p><f:translate extensionName="reserve" key="mail.reservation.print_notice" /></p>

<ul>
	<li><f:translate extensionName="reserve" key="mail.facility" />: {order.bookedPeriod.facility.name}</li>
	<li><f:translate extensionName="reserve" key="mail.period" />: <f:format.date>{order.bookedPeriod.date}</f:format.date> <f:format.date format="H:i">{order.bookedPeriod.begin}</f:format.date> - <f:format.date format="H:i">{order.bookedPeriod.end}</f:format.date></li>
</ul>

<f:for each="{order.reservations}" as="reservation">
	<img src="cid:{reservation.code}" title="QR Code" alt="{reservation.code}" style="padding: 40px;"/>
</f:for>

<p></p>
<ul>
	<f:for each="{order.reservations}" as="reservation">
		<li>{reservation.code}</li>
	</f:for>
</ul>
</html>
