<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<ul>
	<li><f:translate extensionName="reserve" key="mail.facility" />: {order.bookedPeriod.facility.name}</li>
	<li><f:translate extensionName="reserve" key="mail.period" />: <f:format.date format="{f:translate(key: 'date_format', extensionName: 'reserve')}">{order.bookedPeriod.date}</f:format.date> <f:format.date format="H:i">{order.bookedPeriod.begin}</f:format.date> - <f:if condition="{order.bookedPeriod.end}"><f:then><f:format.date format="H:i">{order.bookedPeriod.end}</f:format.date></f:then><f:else><f:translate key="period.openEnd" /></f:else></f:if></li>
</ul>
