<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div id="reserve-conf" data-conf="{jsConf -> f:format.json()}"></div>

<div class="tx-reserve">
    <f:flashMessages/>
    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <ul class="errors">
                <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                    <li>{propertyPath}
                        <ul>
                            <f:for each="{errors}" as="error">
                                <li>{error.code}: {error}</li>
                            </f:for>
                        </ul>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:form.validationResults>

    <f:render section="Main"/>
</div>
</html>
