<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <p>
        <f:translate key="cancel.warning" arguments="{0: order.bookedPeriod.facility.name}"/>
    </p>
    <p></p>
    <p>
        <f:link.action action="cancel"
                       arguments="{email: order.email, activationCode: order.activationCode, confirm: 1}">
            <f:translate key="cancel.button"/>
        </f:link.action>
    </p>
</f:section>
</html>
