<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:form action="create" name="order" object="{order}">
		<h2><f:translate key="form.order.header" arguments="{0: order.bookedPeriod.facility.name}" /></h2>
		<p><f:translate key="form.order.description" arguments="{0: '{f:format.date(date: order.bookedPeriod.date, format: \'{f:translate(key: \\\'date_format\\\')}\')}', 1: '{f:format.date(date: order.bookedPeriod.begin, format: \'H:i\')}', 2: '{f:format.date(date: order.bookedPeriod.end, format: \'H:i\')}'}" /></p>

		<f:form.hidden property="bookedPeriod" />
		<div class="powermail_fieldwrap">
			<label for="email"><f:translate key="form.order.email" /></label>
			<f:form.textfield id="email" type="email" property="email" />
		</div>
		<div class="powermail_fieldwrap">
			<label for="amountOfPeople"><f:translate key="form.order.amountOfPeople" arguments="{0: order.bookedPeriod.maxParticipantsPerOrder}"/></label>
			<f:form.textfield id="amountOfPeople" type="number" name="amountOfPeople" additionalAttributes="{max: order.bookedPeriod.maxParticipantsPerOrder}" />
		</div>
		<div class="powermail_fieldwrap powermail_fieldwrap_type_submit">
			<div>
				<f:form.submit class="powermail_submit" value="{f:translate(key: 'form.order.submit')}" />
			</div>
		</div>
	</f:form>
</f:section>
</html>
