<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:form action="create" name="order" object="{order}">
		Selected period: UID {order.bookedPeriod.uid}

		<f:form.hidden property="bookedPeriod" />
		<label for="email"><f:translate key="form.order.email" /></label>
		<f:form.textfield type="email" property="email" />
		<label for="amountOfPeople"><f:translate key="form.order.amountOfPeople" /></label>
		<f:form.textfield type="number" name="amountOfPeople" />
		<f:form.submit value="{f:translate(key: 'form.order.submit')}" />
	</f:form>

</f:section>
</html>
