<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<table>
		<thead>
		<tr>
			<th>Date</th>
			<th>Begin</th>
			<th>End</th>
			<th>Participants</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{periods}" as="period">
			<tr>
				<td><f:format.date>{period.date}</f:format.date></td>
				<td><f:format.date format="H:i">{period.begin}</f:format.date></td>
				<td><f:format.date format="H:i">{period.end}</f:format.date></td>
				<td><!-- TODO: insert remaining participants -->{period.maxParticipants}</td>
				<td><f:link.action action="period" arguments="{period: period}">Show</f:link.action></td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:section>
</html>
